{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      },
      "tabWidth": 4,
      "useTabs": true
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
