{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jijnjaTrailingComma": "all",
  "singleQuote": true,
  "jininjaBracketSpacing": true,
  "include": ["_includes/**/*.html"],
  "exclude": ["node_modules", "dist"],
  "plugins": ["prettier-plugin-jinja-template"],
  "endOfLine": "lf",
  "printWidth": 80,
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "semi": true,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
